
<!DOCTYPE html>
<html>
  <head>
    <title> {{title}} </title>
    <link href="../CSS/bootstrap.css" type="text/css" rel="stylesheet">
   <link href="/CSS/styles.css" type="text/css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="/CSS/bootstrap-3.3.6-dist/css/bootstrap.min.css">

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->


  </head>

  <body class="body">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Nelisa Spaza Shop</a>
        </div>
        <ul class="nav navbar-nav">
          <!-- <li class="active"><a href="/homePage">Home</a></li>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/index">Statistics</a></li> -->
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/index">Statistics</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/sales">Sales</a><li>
          <li><a href="/products">Products</a></li>
          <li><a href="/purchases">Purchases</a></li>


        </ul>
      </div>
    </nav>

{{{body}}}

 <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script> -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="../public/JS/bootstrap.js"></script>
  </body>

  <script>


  $('.datepicker').datepicker({

      calendarWeeks: true,
      selectMonths:true,
      format: 'dd/mm/yy'

  });
  </script>

  <!-- <script>
  function dateConvertion() {
      var d = new Date();
      var n = d.toString();
      document.getElementById("datepicker").innerHTML = n;
  }

  </script> -->
</html>
