<ul class="row-list">
<form action ="/categories/search/" method="POST">
   <input type="text" name="search" placeholder="Search.." >
  <button> <input type="submit" value="submit"></button>

</form>

  <li class="col-md-6 head"><b>Category</b></li>
  <a href="/categories/addCategory"><div class="btn btn-primary col-md-6 "><b>Add Category</b></div></a>


        {{#categories}}

          <li class="col-md-6 db-List"> {{category}}</li>
          <a href="/categories/editCategory/{{id}}" class="btn btn-primary col-md-4 ">Edit</a>
          <a href="/categories/delete/{{id}}" class="btn btn-primary col-md-2 ">Delete</a>
        {{/categories}}
    </ul>
