<ul class="row-list">
  <li class="col-md-4 head"><b>Product</b></li>
  <li class="col-md-4 head"><b>Category</b></li>
        {{#categories}}
          <li class="col-md-4 db-List"> {{product}}</li>
          <li class="col-md-4 db-List">{{category}}</li>
        {{/categories}}
    </ul>
