<div class="row-list">

  <hgroup>
<h1>LOGIN</h1>
</hgroup>

  <form action="/login" method="POST">
    <div class="group">
      <input name="username"type="text"><span class="highlight"></span><span class="bar"></span>
      <label>Name</label>
    </div>
    <div class="group">
      <input name="password" type="text"><span class="highlight"></span><span class="bar"></span>
      <label>Password</label>
    </div>

    <button type="submit" class="button buttonBlue">Login
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
  </form>
</div>
