<ul class="row-list">

  <li class="col-md-6 head"><b>Product</b></li>
  <li class="col-md-6 head"><b>Category</b></li>
        {{#search}}

          <li class="col-md-6 db-List">{{product}}</li>
          <li class="col-md-6 db-List">{{category}}</li>

        {{/search}}
    </ul>
