<div class="row-list">
  <head>
    <meta charset="UTF-8">
    <title>SIGN UP</title>
        <link rel="stylesheet" href="css/style.css">
        </head>

  <hgroup>
<h1>SIGN UP</h1>

</hgroup>

  <form method="POST">
    <div class="group">
      <input name="username"type="text"><span class="highlight"></span><span class="bar"></span>
      <label>Name</label>
    </div>
    <div class="group">
      <input name="password" type="text"><span class="highlight"></span><span class="bar"></span>
      <label>Password</label>
    </div>

    <button type="submit" class="button buttonBlue">Sign Up
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
    <a href="/login">Already have an Account? Login here</a>
  </form>
</div>
